@use 'variables' as *;

* {
    box-sizing: border-box;
}

body {
    background-color: $bg-body;
    color: $text-main;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}