@use 'variables' as *;
@use 'mixins';

* {
    box-sizing: border-box;
}

body {
    background-color: $bg-body;
    color: $text-main;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    @include mixins.flexbox-container($gap: 0, $flexDirection: column, $justifyContent: space-between);
}

main {
    flex: 2 1;
    @include mixins.flexbox-container($gap: 0, $flexDirection: column, $justifyContent: flex-start);
}