@use 'variables' as *;
@use 'mixins';

.favorites {
    margin: 1.25rem auto;
    text-align: center;

    &.hidden {
        display: none;
    }
}

.favorites-toggle {
    @include mixins.card-style();
    @include mixins.font-style(1, $text-main);
    @include mixins.hover-effect();
    
    border: none;
}

.favorites-list {
    @include mixins.flexbox-container();

    list-style: none;
    padding: 0;
    margin-top: 0.75rem;

    &.hidden {
        display: none;
    }

    li {
        @include mixins.card-style();
        @include mixins.hover-effect();

        text-align: center;
        width: 7rem;

        span {
            @include mixins.font-style(0.9, $text-main);
        }

        img {
            width: 2.5rem;
            border-radius: 4px;
            display: block;
            margin: 0 auto 0.3rem auto;
        }
    }
}