@use 'variables' as *;
@use 'mixins';

header {
    text-align: center;
    @include mixins.card-style(1,0);

    h1 {
        @include mixins.font-style(2, $accent);
        
        margin: 0 0 1rem 0;
    }
}

.functionality {
    @include mixins.flexbox-container(1.25);

    width: 90%;
    max-width: 40rem;
    margin: 0 auto;
}

.search-label.hidden {
    display: none;
}

.search-input {
    @include mixins.font-style(1, #000);

    padding: 0.75rem 1.25rem;
    border: 2px solid transparent;
    border-radius: 1.5rem;

    width: 100%;
    max-width: 20rem;

    outline: none;
    transition: all 0.3s ease;

    &:focus {
        border-color: $accent;
    }
}

.search-button {
    @include mixins.hover-effect($textColor: #fff);
    
    padding: 0.75rem 2rem;
    font-size: 1rem;
    border: none;
    border-radius: 3rem;
    background-color: $accent;
}

.search-error {
    @include mixins.font-style(1, #ff6b6b);
}

.recent-searches {
    @include mixins.flexbox-container();

    list-style-type: none;
    padding: 0;
    margin: 1rem auto 0 auto;
    max-width: 62rem;
    &.hidden {
        display: none;
    }

    li {
        @include mixins.card-style($radius: 2);
        @include mixins.font-style(1, $text-main);
        @include mixins.hover-effect();
    }
}