body {
    background-color: rgb(43, 43, 44);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.functionality {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.functionality * {
    margin: 5px;
}

.search-button {
    cursor: pointer;
}

header h1 {
    color: white;
    margin: 20px 0;
    text-align: center;
}

.search-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
}

.search-button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid rgb(218, 206, 206);
    border-radius: 5px;
}

.countries-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    color: white;
}

.countries-list li {
    background-color: rgb(81, 74, 80);
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px auto;
    min-width: 400px;
    text-align: center;
    padding-top: 10px;
}

.countries-list li p, .countries-list li h3{
    text-align: center;
}

li a {
    color : rgb(220, 122, 137);
}

li img {
    border-radius: 5px;
}