body {
    background-color: rgb(43, 43, 44);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header h1 {
    color: white;
    margin: 20px 0;
    text-align: center;
}

header input {
    display: block;
    margin: 20px auto;
}

.countries-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.countries-list li {
    background-color: rgb(218, 206, 206);
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px auto;
    min-width: 400px;
    text-align: center;
}

.countries-list li img {
    display: block;
    margin: 0 auto;
}

.countries-list li p, .countries-list li h3{
    text-align: center;
}

li a {
    color : rgb(220, 122, 137);
}

li img {
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}